<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/Content/img/product-2.jpg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Topbar Start -->
    @Html.Action("PartialTopbar", "Home")
<<<<<<< Updated upstream

    <!-- Topbar End -->
    <!-- Navbar Start -->
    @Html.Action("PartialNav", "Home" )


=======
    <!-- Topbar End -->
    <!-- Navbar Start -->
    @Html.Action("PartialNav", "Home")
>>>>>>> Stashed changes
    <!-- Navbar End -->
    <!-- Featured Start -->
    @Html.Action("PartialFeatured", "Home")
    @RenderBody();
    <!-- Featured End -->
    <!-- Categories Start -->
    @Html.Action("PartialCategories", "Home")
    <!-- Categories End -->
    <!-- Offer Start -->
    @Html.Action("PartialOffer", "Home")
    <!-- Offer End -->
    <!-- Products1 Start -->
    @Html.Action("PartialProducts", "Home")
    <!-- Products1 End -->
    <!-- Subscribe Start -->
    @Html.Action("PartialSubscribe", "Home")
    <!-- Subscribe End -->
    <!-- Products2 Start -->
    @Html.Action("PartialProducts2", "Home")
    <!-- Products2   End -->
    <!-- Vendor Start -->
    @Html.Action("PartialVendor", "Home")
    <!-- Vendor End -->
    <!-- Footer Start -->
    @Html.Action("PartialFooter", "Home")
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Content/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/js/main.js"></script>
</body>

</html>